<a href="https://colab.research.google.com/github/UJWAL-SHAH/AI/blob/master/Class%20Work/CW_J078_040720.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Lecture:1 :Intro to AI & Python

In [ ]:
#list
a=[1,2,3,4,5]
print(a)
type(a)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

tuple

In [ ]:
#tuple
b=(1,2,3,4,5)
print(b)
type(b)

In [ ]:
#set
c={1,2,3,"human"}
print(c)
type(c)

{1, 2, 3, 'human'}

set

In [ ]:
#dictionaries
d={"list":[1,2,3,"Value_1"],"tuple":("Value_2"),"Set":{"Value_3"}}
print(d)
type(d)

{'list': [1, 2, 3, 'Value_1'], 'tuple': 'Value_2', 'Set': {'Value_3'}}

dict

In [ ]:
#list on list
d=[[1,2],[3,4]]
d

[[1, 2], [3, 4]]

In [ ]:
#Validation of Set Data Structure

#Not Allowed
#e={[1,2]}#list inside sets
#e={{1,2},[3,4]}#list & sets both inside sets
#e={{"Name":"Ujwal"},{"Roll no":'J078'}}#Dictionary in Sets
#e={{2,3,{5}} #Set inside set 
#e={(1,2),[3,4]}#Tupe & sets both inside sets
#e={[1,2],(3,4)}#List & Tuple inside sets
#e[1] Indexng not allowed


#Allowed 
#e={(1,2,3)} #tuple inside set is allowed 
#e={1,2,3,2} #Set only gives distinct values
#e.pop() #to remove arbitary elements

4